.LandingPage {
  .hello-wrd {
    color: transparent;
    -webkit-text-stroke: 4px #77727c;
    font-size: 203px;
    position: relative;
    top: -122px;
    opacity: 0.4;
    text-align: center;
    font-weight: 900;
    font-family: Syne;
  }
}
