.LandingPage {
  position: relative;
  .container {
  }
  .clip {
    position: absolute;
    width: 90px;
    height: 90px;
    transform: rotate(45deg);
    border-radius: 4px;
    animation: updown 2s linear 0s infinite alternate-reverse;
    &::before {
      width: 140%;
      height: 140%;
      position: absolute;
      content: "";
      border: 2px solid $blue-color;
      left: -20%;
      top: -20%;
      border-radius: 4px;
    }
  }
  .img-card {
    position: relative;
    z-index: 1;
    &::before {
      z-index: -1;
      position: absolute;
      content: "";
      animation: fade1 3s linear 1s infinite alternate-reverse;
      width: 0;
      height: 0;
      border-radius: 50%;
      top: 50%;
      left: 25%;
      background-color: transparent;
    }
  }
  .info-card {
    position: relative;
    z-index: 1;
    &::before {
      position: absolute;
      z-index: -1;
      content: "";
      animation: fade2 3s linear 1s infinite alternate-reverse;
      animation-delay: 1s;
      width: 0;
      height: 0;
      border-radius: 50%;
      top: 81%;
      left: -2%;
      background-color: transparent;
    }
  }
  .hello-wrd {
    color: transparent;
    -webkit-text-stroke: 4px #77727c;
    font-size: 203px;
    position: relative;
    top: -122px;
    opacity: 0.4;
    text-align: center;
    font-weight: 900;
    font-family: Syne;
  }
  .row {
    margin-top: -120px;
  }
  .container {
    max-width: 1600px;
  }
  .top_t {
    font-size: 29px;
    color: #bbb;
  }
  .name,
  .desc {
    font-size: 56px;
    font-weight: 800;
    font-family: $header-font;
  }
  .desc {
    span {
      font-family: $logo-font;
      font-weight: 800;
      color: #d401f0;
      display: inline-flex;
      transform: rotate(13deg);
    }
  }
  .exp {
    margin-top: 30px;
    position: relative;
    color: hsla(0, 0%, 100%, 0.932);
    font-size: 26px;
    font-family: $header-font;
  }
  .btns {
    margin-top: 45px;
  }
  .show-resume {
    margin-right: 20px;
  }
  .btn-g {
    text-decoration: none !important;
    text-align: center;
    width: fit-content;
    font-weight: 600;
    padding: 18px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
  }
  .show-work {
    border: 3px solid $purple-color;
    padding: 15px 26px;
  }
  .recent-clients {
    padding: 20px;
    background-color: rgba(63, 57, 69, 0.95);
    border: 2px solid #5b5b5b;
    border-radius: 15px;
    margin-top: 44px;
    width: 560px;
  }
  .avatar {
    border-radius: 50%;
    width: 62px;
    border: 3px solid white;
    margin-right: -11px;
    object-fit: cover;
  }
  .res_num {
    background-color: #757575;
    font-size: 20px;
    font-weight: 700;
  }
  .recent_tot {
    font-size: 24px;
    font-weight: 600;
    margin-left: 36px;
  }
  @keyframes updown {
    0% {
      top: 44px;
    }
    100% {
      top: 30px;
    }
  }
  @keyframes fade2 {
    0% {
      box-shadow: 0 0 70px 76px rgba(86, 0, 247, 0.69);
    }
    100% {
      box-shadow: 0 0 125px 140px rgba(86, 0, 247, 0.69);
    }
  }
  @keyframes fade1 {
    0% {
      box-shadow: 0 0 70px 76px rgba(212, 1, 240, 0.6);
    }
    100% {
      box-shadow: 0 0 125px 140px rgba(212, 1, 240, 0.6);
    }
  }

  @media (max-width: 1460px) {
    .clip {
      display: none;
    }
    .hello-wrd {
      font-size: 163px;
      top: -98px;
    }
    .name,
    .desc {
      font-size: 45px;
    }
    .exp,
    .top_t {
      font-size: 22px;
    }
  }
  @media (max-width: 1200px) {
    .name,
    .desc {
      font-size: 37px;
    }
    .exp,
    .top_t {
      font-size: 18px;
    }
    .recent-clients {
      width: fit-content;
    }
    .avatar {
      width: 55px;
    }
    .recent_tot {
      font-size: 18px;
    }
  }
  @media (max-width: 992px) {
    .clip {
      display: block;
    }
    .hello-wrd {
      font-size: 105px;
      top: -72px;
    }
    text-align: center;
    .btns {
      justify-content: center;
    }
    .recent-clients {
      margin: 40px auto;
    }
    .row {
      margin-top: -75px;
    }
    .top_t {
      font-size: 22px;
    }
  }
  @media (max-width: 767px) {
    .hello-wrd {
      font-size: 58px;
      top: -47px;
    }
    .info-card {
      &::before {
        top: 35%;
        left: 87%;
      }
    }
    .img-card {
      &::before {
        left: 49%;
      }
    }
    .row {
      margin-top: -45px;
    }
    .name,
    .desc {
      font-size: 28px;
      line-height: 1.8;
    }
    .clip {
      width: 65px;
      height: 65px;
      margin-top: -26px;
      margin-left: -17px;
    }
    .btn-g {
      font-size: 17px;
    }
    .recent_tot {
      font-size: 14px;
      text-align: left;
      margin-left: 23px;
    }
  }
}
