.LandingSkills {
  margin-top: 70px;
  padding: 40px 0;
  .head {
    font-size: 31px;
    font-weight: 700;
  }

  .skill_container {
    background-color: white;
    height: 5px;
    position: relative;
  }
  .skill_press {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }
  .skill_name {
    font-size: 19px;
    font-weight: 700;
  }
  .con_skill {
    margin-top: 16px;
  }
  .ani {
    margin: auto;
    width: 118%;
  }
  @media (max-width: 992px) {
    margin-top: 0;
  }
}
