@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Danfo:ELSH@0..100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
html,
body {
  background-color: #100817;
  color: white;
  font-family: "Montserrat";
  font-weight: 400;
}

.bg-linner {
  background: linear-gradient(45deg, #5600f7, #d401f0);
  color: #fff !important;
}

.center-hir {
  display: flex;
  align-items: center;
  justify-content: center;
}

.not_found {
  text-align: center;
}
.not_found .main-head {
  font-size: 21px;
  color: red;
}
.not_found .main-desc {
  font-size: 19px;
}
.not_found .back-link {
  color: white;
  font-weight: 500;
}
@media (max-width: 767px) {
  .not_found .animation {
    width: 380px !important;
  }
}

.navbar {
  background-color: rgba(63, 57, 69, 0.95) !important;
  color: white !important;
  max-width: 84%;
  margin: 20px auto;
  padding: 10px 25px;
  border: 2px solid #5b5b5b;
  border-radius: 15px;
  position: relative;
  z-index: 1;
}
.navbar .logo {
  font-size: 27px;
  font-family: "Syne", sans-serif;
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.navbar .logo span {
  color: #d401f0;
}
.navbar .logo img {
  width: 87px;
}
.navbar .links {
  flex-grow: 1;
  justify-content: center;
}
.navbar .link {
  margin-right: 51px;
  text-decoration: none !important;
  color: #fff;
  font-size: 18px;
  padding: 5px 9px !important;
}
.navbar .hire-me {
  background: linear-gradient(45deg, #5600f7, #d401f0);
  font-size: 22px;
  padding: 17px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.navbar .d-mobile-view {
  display: none;
  font-size: 15px;
  padding: 9px;
}
.navbar .navbar-toggler {
  filter: invert(4) brightness(7.5);
  font-size: 17px;
  border: none;
}
.navbar .active {
  color: white !important;
  border-right: 2px solid #d401f0;
  border-left: 2px solid #d401f0;
  position: relative;
  transition: 0.2s;
  overflow: hidden;
}
.navbar .active::before, .navbar .active::after {
  position: absolute;
  content: "";
  transition: 0.2s;
  width: 100%;
  height: 2px;
  background-color: #d401f0;
}
.navbar .active::before {
  bottom: 0;
  left: -50%;
}
.navbar .active::after {
  top: 0;
  right: -50%;
}
.navbar .active:hover {
  color: #d401f0 !important;
}
.navbar .active:hover::before {
  left: 0;
}
.navbar .active:hover::after {
  right: 0;
}
@media (max-width: 1400px) {
  .navbar {
    max-width: 98%;
  }
}
@media (max-width: 1200px) {
  .navbar .link {
    font-size: 16px;
    margin-right: 27px;
  }
  .navbar .hire-me {
    font-size: 13px;
    padding: 13px;
  }
  .navbar .logo {
    font-size: 23px;
  }
  .navbar .logo img {
    width: 65px;
    margin-right: 5px;
  }
}
@media (max-width: 992px) {
  .navbar .d-mobile-view {
    display: block !important;
  }
  .navbar .active {
    border: none;
  }
  .navbar .active::before, .navbar .active::after {
    display: none;
  }
  .navbar .link {
    padding: 10px 5px !important;
  }
  .navbar .hire-me {
    display: none;
  }
  .navbar .logo {
    font-size: 18px;
  }
  .navbar .logo span {
    color: white;
  }
}
@media (max-width: 767px) {
  .navbar {
    max-width: 93%;
    padding: 5px 0px;
  }
}

.LandingPage {
  position: relative;
}
.LandingPage .clip {
  position: absolute;
  width: 90px;
  height: 90px;
  transform: rotate(45deg);
  border-radius: 4px;
  animation: updown 2s linear 0s infinite alternate-reverse;
}
.LandingPage .clip::before {
  width: 140%;
  height: 140%;
  position: absolute;
  content: "";
  border: 2px solid #5600f7;
  left: -20%;
  top: -20%;
  border-radius: 4px;
}
.LandingPage .img-card {
  position: relative;
  z-index: 1;
}
.LandingPage .img-card::before {
  z-index: -1;
  position: absolute;
  content: "";
  animation: fade1 3s linear 1s infinite alternate-reverse;
  width: 0;
  height: 0;
  border-radius: 50%;
  top: 50%;
  left: 25%;
  background-color: transparent;
}
.LandingPage .info-card {
  position: relative;
  z-index: 1;
}
.LandingPage .info-card::before {
  position: absolute;
  z-index: -1;
  content: "";
  animation: fade2 3s linear 1s infinite alternate-reverse;
  animation-delay: 1s;
  width: 0;
  height: 0;
  border-radius: 50%;
  top: 81%;
  left: -2%;
  background-color: transparent;
}
.LandingPage .hello-wrd {
  color: transparent;
  -webkit-text-stroke: 4px #77727c;
  font-size: 203px;
  position: relative;
  top: -122px;
  opacity: 0.4;
  text-align: center;
  font-weight: 900;
  font-family: Syne;
}
.LandingPage .row {
  margin-top: -120px;
}
.LandingPage .container {
  max-width: 1600px;
}
.LandingPage .top_t {
  font-size: 29px;
  color: #bbb;
}
.LandingPage .name,
.LandingPage .desc {
  font-size: 56px;
  font-weight: 800;
  font-family: "Syne", sans-serif;
}
.LandingPage .desc span {
  font-family: "Danfo", serif;
  font-weight: 800;
  color: #d401f0;
  display: inline-flex;
  transform: rotate(13deg);
}
.LandingPage .exp {
  margin-top: 30px;
  position: relative;
  color: hsla(0, 0%, 100%, 0.932);
  font-size: 26px;
  font-family: "Syne", sans-serif;
}
.LandingPage .btns {
  margin-top: 45px;
}
.LandingPage .show-resume {
  margin-right: 20px;
}
.LandingPage .btn-g {
  text-decoration: none !important;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  padding: 18px;
  font-size: 20px;
  border-radius: 5px;
  color: white;
}
.LandingPage .show-work {
  border: 3px solid #d401f0;
  padding: 15px 26px;
}
.LandingPage .recent-clients {
  padding: 20px;
  background-color: rgba(63, 57, 69, 0.95);
  border: 2px solid #5b5b5b;
  border-radius: 15px;
  margin-top: 44px;
  width: 560px;
}
.LandingPage .avatar {
  border-radius: 50%;
  width: 67px;
  border: 3px solid white;
  margin-right: -11px;
}
.LandingPage .res_num {
  background-color: #bdbdbd;
  font-size: 20px;
  font-weight: 700;
}
.LandingPage .recent_tot {
  font-size: 24px;
  font-weight: 600;
  margin-left: 36px;
}
@keyframes updown {
  0% {
    top: 44px;
  }
  100% {
    top: 30px;
  }
}
@keyframes fade2 {
  0% {
    box-shadow: 0 0 70px 76px rgba(86, 0, 247, 0.69);
  }
  100% {
    box-shadow: 0 0 125px 140px rgba(86, 0, 247, 0.69);
  }
}
@keyframes fade1 {
  0% {
    box-shadow: 0 0 70px 76px rgba(212, 1, 240, 0.6);
  }
  100% {
    box-shadow: 0 0 125px 140px rgba(212, 1, 240, 0.6);
  }
}
@media (max-width: 1460px) {
  .LandingPage .clip {
    display: none;
  }
  .LandingPage .hello-wrd {
    font-size: 163px;
    top: -98px;
  }
  .LandingPage .name,
  .LandingPage .desc {
    font-size: 45px;
  }
  .LandingPage .exp,
  .LandingPage .top_t {
    font-size: 22px;
  }
}
@media (max-width: 1200px) {
  .LandingPage .name,
  .LandingPage .desc {
    font-size: 37px;
  }
  .LandingPage .exp,
  .LandingPage .top_t {
    font-size: 18px;
  }
  .LandingPage .recent-clients {
    width: -moz-fit-content;
    width: fit-content;
  }
  .LandingPage .avatar {
    width: 55px;
  }
  .LandingPage .recent_tot {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .LandingPage {
    text-align: center;
  }
  .LandingPage .clip {
    display: block;
  }
  .LandingPage .hello-wrd {
    font-size: 105px;
    top: -72px;
  }
  .LandingPage .btns {
    justify-content: center;
  }
  .LandingPage .recent-clients {
    margin: 40px auto;
  }
  .LandingPage .row {
    margin-top: -75px;
  }
  .LandingPage .top_t {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .LandingPage .hello-wrd {
    font-size: 58px;
    top: -47px;
  }
  .LandingPage .info-card::before {
    top: 35%;
    left: 87%;
  }
  .LandingPage .img-card::before {
    left: 49%;
  }
  .LandingPage .row {
    margin-top: -45px;
  }
  .LandingPage .name,
  .LandingPage .desc {
    font-size: 28px;
    line-height: 1.8;
  }
  .LandingPage .clip {
    width: 65px;
    height: 65px;
    margin-top: -26px;
    margin-left: -17px;
  }
  .LandingPage .btn-g {
    font-size: 17px;
  }
  .LandingPage .recent_tot {
    font-size: 14px;
    text-align: left;
    margin-left: 23px;
  }
}

.socials {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.socials a {
  background-color: hsla(0, 0%, 100%, 0.665);
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 50%;
  margin-top: 15px;
  color: #000;
  font-size: 20px;
}
@media (max-width: 767px) {
  .socials {
    flex-direction: row;
    top: 102%;
    justify-content: space-between;
    width: 84%;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}

.LandingAbout {
  margin-top: 70px;
  padding: 40px 0;
}/*# sourceMappingURL=index.css.map */